@charset "utf-8";


.text_img_kakuteki {
    width: 45%;
}

.text_img_kakuteki img {
    width: 100%;
    height: 80%;
}

.body{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

main{
    width: 80%;
}

aside{
    width: 20%;
    margin-left: 100px;
}

.item{
    margin-left: 15px;
    margin-right: 15px;
}

.title h1{
    font-size: 50px;
    border-bottom: solid gainsboro 2px;
    padding-left: 40px;
}

.text{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.text_img{
    width: 45%;
}

.text_img img{
    width: 100%;
    height: 100%;
}

.text_text{
    width:45%;
}

.Company{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
}

.menu{
    padding: 30px 30px 20px 20px;
    text-align: center;
    background-color: #f4f4f4;
    width: 150px;
    border-radius: 20px;
    position: sticky;
    top: 100px;
}

.menu li{
    padding: 5px;
    list-style: none;
    color: black;
}

.menu li:hover{
    /* color: blue; */
}

.menu a{
    text-decoration: none;
    color: black;
}

.menu li a:hover{
    background: linear-gradient(transparent 70%, yellow 30%);
}

html {
    scroll-behavior: smooth;
}

.Company_adress {
    margin-top: 40px;
    margin-right: 40px;
}